name: Docker Image CI

on:
  push:
    branches:
      - main
    tags:
      - "v*"
  pull_request:
    branches:
      - main

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      #- name: Docker meta
      #  id: meta
      #  uses: docker/metadata-action@v4
      #  with:
      #    images: gutmensch/argocd
      #    flavor: latest=true
      #    tags: |
      #      type=ref,event=branch
      #      type=ref,event=pr
      #      type=semver,pattern={{version}}

      - name: Login to DockerHub
        if: github.ref_type == 'tag'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          #platforms: linux/amd64,linux/arm64
          platforms: linux/amd64
          context: .
          file: Dockerfile.gutmensch
          push: ${{ github.ref_type == 'tag' }}
          tags: gutmensch/openclaw:${{ github.ref_name }}
          labels: ${{ steps.meta.outputs.labels }}

